:root {
  font-family: 'Iowan Old Style', 'Palatino Linotype', Palatino, serif;
  line-height: 1.5;
  font-weight: 400;
  color: #501a2c;
  background-color: #f5f0eb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f0eb;
  color: #501a2c;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

.writing-vertical-rl {
  writing-mode: vertical-rl;
}
